/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    background-color: lightcoral;
    height: 100px;
}

/* HEADER */
header {

}

/* MEDIA QUERY */
/* ESEMPIO DESKTOP FIRST */
@media screen and (max-width: 768px) {

    .container {
        background-color: cyan;
    }

}

@media screen and (max-width: 425px) {

    .container {
        background-color: red;
    }

}