/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    height: 100px;

    /* Caso base desktop first */
    background-color: lightcoral;

    /* Caso base mobile first */
    /* background-color: red; */
}

/* span {
    display: none;
} */

/* HEADER */
header {

}

/* MEDIA QUERY */
/* ESEMPIO DESKTOP FIRST */
@media screen and (max-width: 768px) {

    .container {
        background-color: cyan;

        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 425px) {

    .container {
        background-color: red;
        display: block;
    }

    /* h1 {
        display: none;
    }

    span {
        display: inline-block;
    } */

}


/* ESEMPIO MOBILE FIRST */
/* @media screen and (min-width: 426px) {

    .container {
        background-color: cyan;
    }

}

@media screen and (min-width: 769px) {

    .container {
        background-color: lightcoral;
    }

} */